.top {
  height: 70%;
  position: relative;
}
.top img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}
/*Button*/
.add-to-cart {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 70%;
  background-color: white;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  padding: 4% 8%;
  transform: translateX(22%) translateY(50%);
  outline: 2px solid #a5a4a4;
}
/*Button Text*/
.text {
  font-weight: 500;
  font-size: 16px;
}
.bottom {
  min-height: 20%;
  margin-top: 19%;
}
/*Increment & Decrement Buttons for when adding to cart*/
.adjust-quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  width: 70%;
  background-color: #e95827;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  padding: 4% 8%;
  transform: translateX(22%) translateY(50%);
  color: white;
  outline: none;
  display: none;
}
.adjust-quantity-button img {
  border: 1.5px solid white;
  border-radius: 50%;
}
.plus-icon:hover {
  cursor: pointer;
}
.minus-icon:hover {
  cursor: pointer;
}
.plus-icon {
  width: 17px;
  height: 17px;
}
.minus-icon {
  width: 17px;
  height: 17px;
}

.desert-individual-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.desert-type {
  color: #a39898;
}
.desert-name {
  font-weight: 500;
  font-size: 18px;
}
.desert-price {
  color: #f08f7e;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .desert-individual-component {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   max-height: 500px;
   gap: 8%;
    
  }
  .top {
    height: 50%;
  }
  .desert-image {
    max-width: 100%;
    height: 100%;
  }
  .desert-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    /* or 'cover' if you want it to fill container even if cropping */
  }
  .bottom {
    margin-top: 0%;
    min-height: 30%;
  }

}
